@import './typography';
@import './variables';

@mixin tablet {
	@media (min-width: $tablet-change) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-change) {
		@content;
	}
}

@mixin mobile-side-padding {
	padding: 0 16px;
	@content;
}

@mixin tablet-side-padding {
	padding: 0 36px;
	@content;
}

@mixin font-style($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
	@content;
}

@mixin font-tablet-body-style {
	@include font-style(14px, 22px);
	@content;
}

@mixin logo-style {
	max-height: 20px;
	max-width: 120px;
	text-decoration: none;
	color: $white;
	@content;
}

@mixin font-family-normal {
	font-family: 'Avenir Next', sans-serif;
	font-weight: 400;
	font-style: normal;
	@content;
}

@mixin font-family-bold {
	font-family: 'Avenir Next', sans-serif;
	font-weight: 600;
	font-style: normal;
	@content;
}

@mixin font-family-bolder {
	font-family: 'Avenir Next', sans-serif;
	font-weight: 700;
	font-style: normal;
	@content;
}

@mixin avatarMobile {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	@content;
}

@mixin avatarLarge {
	border-radius: 50%;
	height: 48px;
	width: 48px;
}
