$primary-black: #323232;
$secondary-darkblack: #000000;
$primary-silver: #afafaf;
$secondary-mercury: #e1e1e1;
$white: white;
$secondary-alabaster: #fafafa;

$withoutmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;
$desktop-side-spacing-title: 140px;

$tablet-change: 768px;
$desktop-change: 1278px;
$addsixteen: 16px;
